
<app-background-particles></app-background-particles>

<h1 class="text-8xl text-center mt-36 text-white">Mars Rover Photos</h1>
<div class="container mx-auto mt-36">
    <div class="flex items-center h-5">
        <div class="mr-5 ">
            <label for="solInput" class="text-white">Mars Sol</label>
        </div>
        <div class="mr-5 w-40">
            <input id="solInput" type="number" [(ngModel)]="marsSol"
                class="block w-full border-cyan-400  focus:border-indigo-500 focus:ring-indigo-500 px-4 py-2">
        </div>
        <div>
            <button type="button" (click)="searchPhotos()" class="bg-sky-600 text-white px-4 py-2 w-36 flex justify-center items-center rounded hover:bg-sky-800 disabled:opacity-75 disabled:hover:bg-sky-600" [disabled]="isSearching" >
                <svg *ngIf="isSearching" xmlns="http://www.w3.org/2000/svg" class="animate-spin mr-3" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 3a9 9 0 1 0 9 9"></path>
                 </svg>
                {{isSearching ? 'Searching' : 'Search'}}
            </button>
        </div>
    </div>
    <h2 *ngIf="photos?.length == 0 && !isSearching" class="text-3xl text-center mt-20 text-white">No pictures this day.</h2>

    <div class="columns-4 gap-8 mt-14">
        <div *ngFor="let photo of photos">
            <img class="w-full aspect-auto shadow-lg mb-6 rounded-3xl hover:cursor-zoom-in" [src]="photo.img_src"
                (click)="openModal(photo.img_src)" alt="">
        </div>
    </div>
</div>

<app-modal-photo [isModalOpen]="isShowModal" [applyShowClass]="applyShowClass" [selectedImgScr]="selectedImgScr" (closeModalEvent)="closeModal()"></app-modal-photo>
